<h2>All Celebrities</h2>

{{#each celebrities}}

{{!-- link on each name to details --}}
  <a href="/celebrities/{{_id}}"><h2> {{name}} </h2></a>
  
{{/each}}

<button><a href="/celebrities/new">Add New</a></button>

